/* ======== CABEÇALHO ======== */
header {
    background-color: rgb(220, 218, 190);
    display: flex;
    align-items: center;
    padding: 6px 20px;
    gap: 12px;
}

header img {
    height: 60px;
    width: 60px;
}

.header-title h1 {
    font-family: Inter;
    color: rgb(65, 72, 51);
    margin: 0;
}

.nav {
    margin-left: 2%;
    display: flex;
    gap: 10px;
}

.nav a {
    font-family: Inter;
    font-size: 22px;
    font-weight: bold;
    color: rgb(65,72,51);
    text-decoration: none;
    transition: 0.3s;
}

.nav a:hover {
    color: rgb(101, 109, 74);
}

/* Usuário no canto direito */
.header-user {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #555;
}

.header-user button {
    background-color: #44633F;
    color: #F5F0DC;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.3s;
}

.header-user button:hover {
    background-color: #5A7A52;
}

.header-user span{
    font-family: 'Inter', sans-serif;
}


/* Primeira seção */
.section-main {
    background-color: rgb(101, 109, 74);
    padding: 60px;
    color: rgb(194, 197, 170);
}

.section-main h1 {
    font-family: 'Inter', sans-serif;
    color: rgb(194, 197, 170);
}

.section-main p {
    font-family: 'Inter', sans-serif;
    color: #F5F0DC;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
}

/* Diferenciais título */
.section-title {
    background-color: rgb(101, 109, 74);
    padding: 20px;
}

.section-title h1 {
    font-family: Inter;
    color: rgb(194, 197, 170);
    margin-left: 50px;
}

/* Diferenciais */

#diferenciais{
    font-family: 'Inter', sans-serif; 
    color: #C2C5AA; 
    margin-left: 50px;
}

.card{
    background: rgb(220, 218, 190); 
    border-radius: 30px;
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    flex-direction: column;
    display: flex;
    font-family: 'Inter', sans-serif;
}

.card-texto {
    background-color: #4a543b;
    color: #dde2d4;
    padding: 25px;
    border-radius: 15px;
    z-index: 10;
    flex-grow: 1;
    font-family: 'Inter', sans-serif;
    text-align: justify;
}    

.card-texto h3 {
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color:#C2C5AA;
}

.card-texto p {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.card-imagem-textura {
    height: 180px;
    background-color: #fff8e7;
    border: 8px solid white;
    border-radius: 25px;
    margin-top: -30px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency=".5" numOctaves="3" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23noise)" opacity="0.5" fill="%23ff9900"/></svg>');
}

.cards-container{
    background-color: rgb(101, 109, 74); 
    padding: 40px; 
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.section-diferenciais {
    background-color: rgb(101, 109, 74);
    padding: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.diferencial-box {
    background: rgb(220, 218, 190);
    height: 600px;
    width: 500px;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.diferencial-title {
    font-family: Inter;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
}

.diferencial-text {
    font-family: Inter;
    font-size: 22px;
    padding: 5px;
    margin-top: auto;
}

#section-dados{
    background-color: rgb(101, 109, 74); 
    height: auto; 
    width: auto; 
    padding: 20px;
}

.dados-container{
    background-color: rgb(101, 109, 74); 
    margin: 0 auto;
    max-width: 1200px;  
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.dado-item{
    background: #414833; 
    padding: 20px 30px; 
    border-radius: 15px;
    color: black;
}

.dado-texto h3::before {
    font-size: 1.1rem;
    margin-right: 15px;
    vertical-align: middle;
}

.dado-item.co2 h3::before {
    content: '●'; /* Círculo */
}

.dado-item.combustivel h3::before {
    content: '♦'; /* Losango */
}

.dado-item.rotas h3::before {
    content: '▲'; /* Triângulo */
}

.dado-texto h3 {
    margin: 0 0 5px 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    padding: 5px; 
    margin-left: auto; 
    font-weight: bold;
    color: #C2C5AA
}

.dado-texto p {
    margin: 0;
    font-size: 1rem;
    color: #F5F0DC;
    font-family: 'Inter', sans-serif; 
    margin-left: auto; 
    padding: 5px; 
    margin-bottom: auto; 
}

.footer{
    background-color: rgb(220, 218, 190); 
    height: 80px; 
    width: auto; 
    padding: 5px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.footer img {
    height: 24px; /* Ajuste de tamanho */
    width: 24px;
}

.footer h2 {
    font-family:'Inter', sans-serif; 
    color: rgb(65, 72, 51); 
    margin: 0;
    font-size: 16px;
}

#section-dados h1{
    font-family: 'Inter', sans-serif; 
    color: rgb(194, 197, 170); 
    margin-left: 50px;
}


@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }   

    .card {
        width: 100%;
        max-width: 400px;
    }

    .titulo-secao {
        text-align: center;
        font-size: 2.2rem;
    }
}