/* Cabeçalho */
header {
    background-color: rgb(220, 218, 190);
    display: flex;
    align-items: center;
    padding: 6px 20px;
    gap: 12px;
}

header img {
    height: 40px;
    width: 40px;
}

.header-title h1 {
    font-family: Inter;
    color: rgb(65, 72, 51);
    margin: 0;
}

.header-nav {
    margin-left: 2%;
    display: flex;
    gap: 10px;
}

.header-nav a {
    font-family: Inter;
    font-size: 22px;
    font-weight: bold;
    color: rgb(65,72,51);
    text-decoration: none;
}

.user-area {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-area img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #555;
}

/* Seção principal */
.section-main {
    background-color: rgb(101, 109, 74);
    padding: 60px;
    color: rgb(194, 197, 170);
}

.section-main h1 {
    font-family: 'Inter', sans-serif;
    color: rgb(194, 197, 170);
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.section-main p {
    font-family: Inter;
    color: rgb(194, 197, 170);
    font-weight: 500;
    font-size: 20px;
}

/* Motivações */
.section-motivacoes {
    background-color: rgb(101, 109, 74);
    padding: 40px;
}

.section-motivacoes h1 {
    font-family: Inter;
    color: rgb(194, 197, 170);
    margin-bottom: 20px;
}

.motivacao-box {
    background: rgb(220, 218, 190);
    height: 100px;
    width: auto;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.motivacao-title {
    font-family: Inter;
    padding: 2px;
    margin-left: auto;
    font-weight: bold;
}

.motivacao-text {
    font-family: Inter;
    margin-left: auto;
    margin-bottom: auto;
}

