body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F0DC;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.index-container {
  background-color: #DCDABE;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  width: 360px;
  text-align: center;
  color: #3F4B3B;
}

.index-container h1 {
  margin-bottom: 0.5rem;
  color: #44633F;
  font-weight: 700;
  font-size: 1.8rem;
}

.index-container p {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #3F4B3B;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  padding: 0.8rem 1rem;
  border-radius: 8px;
  background-color: #44633F;
  color: #F5F0DC;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #2f472b;
}
